/*公共样式，如头尾 */
.public-header {
	height: 110px;
	background: #003bb3;
}

.public-container {
	position: relative;
	margin: 0 auto;
	background: #006dcc;
	width: 1100px;
}

.public-footer {
	height: 318px;
	background: #3b3b3b;
}